.header-container {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #111111;
	z-index: 1000;
	min-height: 50px;
}

.header-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
}

@media (max-width: 768px) {
	.header-list {
		flex-direction: column;
	  }
	  .header-list li a {
		padding: 10px;
		font-size: 14px;
	  }
}

.header-list li a {
	text-decoration: none;
	color: #b7b7b7;
	transition: color 0.3s;
	padding: 10px 50px;
	font-size: 14px;
	text-decoration: none;
}

.header-list li a:hover {
	color: #fff;
  }
  
.header-list li a.active {
	font-weight: bold;
	color: red;
}