.intro-section {
	min-height: 99vh;
	background-image: url('../Assets/background.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	color: #fff;
}

.intro-container {
	height: 50%;
}

.intro-container h2 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 40px;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.intro-paragraph {
	font-size: 1.5rem;
	line-height: 1.5;
	padding-bottom: 30px;
	color: #d7d7d7;
	margin: 0 auto;
	text-align: center;
	max-width: 80%;
}

@media (max-width: 768px) {
	.intro-paragraph {
		font-size: 1rem;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.scroll-button {
	color: #fff;
	padding: 15px 30px;
	font-size: 1rem;
	cursor: pointer;
	transition: color 0.3s;
}

.scroll-button:hover {
	color: red;
}

.scroll-icon {
	max-width: 30px;
}

.intro-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	list-style: none;
	padding-top: 30px;
}

.intro-links li img {
	width: 30px;
	margin-right: 20px;
}