@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Gloabl Styles */
/* body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
} */

/* Fade-In Animation */
#root {
	animation: fade-in 1.5s ease-in-out;
    animation-delay: 0.5s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}